html
    link(href='http://fonts.googleapis.com/css?family=Changa+One:400,400italic|Titillium+Web:200,200italic,300,600,400,900,700,400italic,700italic,300italic,600italic', rel='stylesheet', type='text/css')
    link(href='/stylesheets/scoreboard.css', rel='stylesheet', type='text/css')

body
    h1 #{title}
    h3 The event will start at 11am PST
    div(style="display:inline-block")
        table#scoreboard
        - var idx = 1
        each entry, index in entries
            if entry['time_ms'] == 0
                h2= (idx++) + ': ' + entry['team_name'] + " (" + entry['school'] + ") -- " + entry['cell_count'] + " cells"
            else
                h2= (idx++) + ': ' + entry['team_name'] + " (" + entry['school'] + ") -- " + entry['time']

    include ./auto_refresh.html
